---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Contact Us">
    <!-- contact -->
    <section class="section-lg contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-title">Contact</h2>
                </div>
            </div>
            <div class="row contact-bg p-5 rounded mb-5">
                <div class="col-lg-7 mb-4 mb-lg-0">
                    <form id="contact-form" class="contact-form">
                        <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Your Name" required>
                        <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Subject" required>
                        <textarea name="message" id="message" class="form-control mb-3" placeholder="Your Message" required></textarea>
                        <button type="submit" value="send" class="btn btn-secondary">SEND MESSAGE</button>
                    </form>
                </div>
                <div class="col-lg-5">
                    <p class="mb-5">
                        Jika Anda ingin tahu lebih banyak tentang pengalaman kami merancang dan memberikan solusi cloud, 
                        atau mendapatkan saran tentang tantangan teknologi Anda, hubungi kami. 
                        Dengan teknisi berdedikasi yang siap sedia 24/7, kami siap menjadi perpanjangan tangan tim Anda.
                    </p>
                    <a href="https://wa.me/6281909866787?text=Hallo%20kak,%20saya%20mau%20nanya%20terkait%20..." 
                        target="_blank" 
                        class="text-color h5 d-block">
                        +62 819 0986 6787
                    </a>
                    <a id="email"
                        rel="external noopener noreferrer"
                        class="mb-5 text-color h5 d-block">
                        karuhundeveloper@proton.me
                    </a>
                    <p>Jl. Dipati Ukur No.112-116, <br> Lebakgede, Kecamatan Coblong, Kota Bandung, Jawa Barat 40132</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <div class="card p-4 border-blue">
                        <h5><i class="ti-layers-alt round-icon blue mr-2"></i> Sales</h5>
                        <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <div class="card p-4 border-blue">
                        <h5><i class="ti-desktop round-icon green mr-2"></i> Help & Support</h5>
                        <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <div class="card p-4 border-blue">
                        <h5><i class="ti-panel round-icon orange mr-2"></i> Legal Departments</h5>
                        <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- background shapes -->
        <img class="contact-bg-1 up-down-animation" src="images/background-shape/feature-bg-2.png" alt="background-shape">
        <img class="contact-bg-2 left-right-animation" src="images/background-shape/green-half-cycle.png" alt="background-shape">
        <img class="contact-bg-3 up-down-animation" src="images/background-shape/green-dot.png" alt="background-shape">
        <img class="contact-bg-4 left-right-animation" src="images/background-shape/service-half-cycle.png" alt="background-shape">
        <img class="contact-bg-5 up-down-animation" src="images/background-shape/feature-bg-2.png" alt="background-shape">
    </section>
    <!-- /contact -->

    <script is:inline slot="scripts">
        $(() => {
            $("#contact-form").submit(e => {
                e.preventDefault()
                
                const name = $("#name").val()
                const email = $("#email").text()
                const subject = $("#subject").val()
                const message = $("#message").val()
                
                window.open(`mailto:${email}?subject=${subject}&body=Hai saya ${name} %0D%0A%0D%0A ${message}`)
            })

            $('#email').click(e => {
                e.preventDefault()

                const email = $('#email').text()

                window.open(`mailto:${email}`)
            })
        })
    </script>
</Layout>
